.description
    font-weight: 400
    margin: auto
    position: relative

    h4, p
        width: 80%
        margin: auto
    h4
        border-radius: 20px
        font-weight: 400
        color: white
        background-color: #467599
        font-size: 1.5rem
        text-align: left
        padding: 5px 30px
        position: relative
        z-index: 2

    p
        line-height: 1.5
        border-radius: 0 0 20px 20px
        background-color: #F6F6F6
        font-size: 1.125rem
        padding: 50px 30px 30px 30px
        text-align: justify
        position: relative
        top: -20px
        z-index: 1
