.button
    width: 150px
    line-height: 35px
    border-radius: 25px
    padding: 5px 10px
    font-size: 1rem
    text-align: center
    display: inline-block
    margin: 0
    text-justify: center
    text-decoration-color: inherit
    color: black

    &:visited
        color: black

.black
    border: 2px solid black

.white
    border: 2px solid white
    background-color: white
