@use '../../assets/variables' as *

.experience
  color: $accent
  &__tags
    display: flex
    gap: 8px
    margin-top: 16px
    flex-wrap: wrap
    .tag
      border: 1px solid $accent
      border-radius: 16px
      padding: 8px