.carousel
    display: grid
    grid-template-columns: 1fr 1fr
    max-width: 1440px
    width: 100%
    margin: 20px 0
    gap: 20px

    img
        border-radius: 25px
        object-fit: cover
        width: 100%

@media (max-width: 767px)
    .carousel
        height: 255px
        margin: 10px 0

        button
            top: 50%

            img

                width: 11.67px

        .carousel__active
            border-radius: 10px
