.home__main
    background: rgb(214, 64, 69)
    background: linear-gradient(90deg, rgba(70,117,153,1) 0%, rgba(214,64,69,1) 100%)
    margin: 0

    &__section
        padding: 50px 0
        margin: 0
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        > h2
            font-size: 3rem
            text-align: center

        &.works, &.contact
            background-color: #f2f2f2

            > p
                text-align: justify
                line-height: 1.5
                font-size: 1rem

        &.works
            > h2, > p
                color: #467599
                width: 80%

            .worksList
                max-width: 1440px
                display: grid
                grid-template-columns: 1fr 1fr
                justify-content: space-evenly
                padding: 50px 100px 100px 100px
                grid-gap: 100px

        &.about
            height: 100vh

        &.contact
            height: 100vh
            >h2
                color: #D64045
