.home__main
    background-color: #f2f2f2
    margin: 0

    &__section
        margin: 0

        &.works
            background-color: black

            .worksList
                max-width: 1440px
                display: grid
                grid-template-columns: 1fr 1fr
                justify-content: space-evenly
                margin: auto
                padding: 100px
                grid-gap: 100px

        &.about
            background-color: #f2f2f2

@media (max-width: 767px)
    .worksList
        background-color: inherit
        padding: 0
        gap: 20px
