.home__main
    background-color: #f2f2f2
    margin: 0

    &__section
        padding-top: 50px
        margin: 0
        > h2
            font-size: 3rem
            text-align: center

        &.works, &.contact
            background-color: black

            > h2
                color: white

            .worksList
                max-width: 1440px
                display: grid
                grid-template-columns: 1fr 1fr
                justify-content: space-evenly
                padding: 50px 100px 100px 100px
                grid-gap: 100px

        &.about
            background-color: #f2f2f2
            height: 100vh

        &.about, &.contact
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

        &.contact
            height: 100vh

@media (max-width: 767px)
    .worksList
        background-color: inherit
        padding: 0
        gap: 20px
